#title {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  background-color: #333;
}
